.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../css/rabbitAssets/outsideImages/possibleHeader.jpg);
  height: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-size: cover;
  background-position: top;
}
.hero .heroText {
  padding: 20px;
  padding-top: 30px;
  padding-left: 25px;
  color: white;
}
.hero .heroText h1 {
  font-size: 80px;
  font-family: robotoSlab;
  width: 800px;
  color: white;
}
.hero .heroText h3 {
  font-size: 30px;
  max-width: 800px;
  font-family: robotoSlabLight;
  margin-top: 100px;
}
.hero .heroText span {
  color: #4db1ea;
}

.rotd {
  background-color: white;
  min-width: 700px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #0069a5;
  margin-bottom: 50px;
  border-radius: 25px;
}
.rotd .text {
  padding: 20px;
  background-color: white;
  margin-left: 20px;
  border-radius: 25px;
}
.rotd .text h3 {
  margin-bottom: 30px;
}
.rotd .rabbitPic {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 20px;
}
.rotd .rabbitPic img {
  width: 250px;
  border-radius: 25px;
}
.rotd h3 {
  font-family: robotoSlab;
  font-size: 40px;
}
.rotd p {
  font-family: poppinsReg;
  font-size: 20px;
}
.rotd a {
  text-decoration: none;
}
.rotd a span {
  color: white;
  color: #4db1ea;
}
.rotd a:hover {
  text-decoration: underline;
  color: #4db1ea;
}

.threeBoxes {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.threeBoxes .box {
  height: 450px;
  width: calc(300px + 1vw);
  min-width: 300px;
  border: #0069a5 3px solid;
  border-radius: 10px;
}
.threeBoxes .box h3 {
  font-size: 45px;
  margin-top: 20px;
  color: black;
  font-family: robotoSlabNormal;
}
.threeBoxes .box .event {
  font-size: 20px;
  display: flex;
  text-align: center;
}
.threeBoxes .box .event a {
  color: #4db1ea;
}
.threeBoxes .box .event p {
  padding: 10px;
}
.threeBoxes .box .event span {
  text-decoration: underline;
  margin-top: 15px;
}
.threeBoxes .box .eventsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.threeBoxes .box .eventsBox .eventsButton {
  margin-top: 20px;
}
.threeBoxes .box .eventsBox .eventsButton a {
  text-decoration: none;
  font-size: 25px;
  font-family: poppinsReg;
}
.threeBoxes .box .eventsBox .eventsButton a span {
  background-color: #0069a5;
  margin-top: 20px;
  border-radius: 50px;
  padding: 12px;
  color: white;
}
.threeBoxes .box .socialsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 400px;
}
.threeBoxes .box .socialsBox .socialButtons {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.threeBoxes .box .socialsBox .socialButtons .socialButton {
  background-color: #0069a5;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px;
}
.threeBoxes .box .socialsBox .socialButtons .socialButton span {
  font-size: 30px;
  padding: 10px;
  color: white;
}
.threeBoxes .box .socialsBox .socialButtons .socialButton a {
  text-decoration: none;
}
.threeBoxes .box .quickLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.threeBoxes .box .quickLinks .link {
  font-size: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}
.threeBoxes .box .quickLinks .link a {
  color: #4db1ea;
}

.ourMission {
  background-color: white;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
.ourMission .missionStatement {
  width: 50%;
}
.ourMission .missionStatement h2 {
  font-family: robotoSlab;
  font-size: 30px;
}
.ourMission .missionStatement p {
  margin-bottom: 20px;
  font-family: poppinsReg;
  font-family: 20px;
}
.ourMission .missionStatement li {
  margin-bottom: 20px;
  font-family: poppinsReg;
  margin-left: 20px;
}
.ourMission .logo {
  background-image: url(../css/rabbitAssets/icons/EvLogoDesign.png);
  height: 400px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .threeBoxes {
    flex-direction: column;
  }
  .threeBoxes .box {
    margin-bottom: 25px;
    width: 400px;
  }
  .rotd {
    width: 80%;
  }
  .ourMission {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .ourMission .missionStatement {
    width: 100%;
  }
  .ourMission .logo {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
@font-face {
  font-family: robotoSlab;
  src: url(../css/fonts/robotoSlab/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: robotoSlabLight;
  src: url(../css/fonts/robotoSlab/RobotoSlab-ExtraLight.ttf);
}
@font-face {
  font-family: robotoSlabThin;
  src: url(../css/fonts/robotoSlab/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: robotoSlabNormal;
  src: url(../css/fonts/robotoSlab/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: robotoSlabBold;
  src: url(../css/fonts/robotoSlab/RobotoSlab-ExtraBold.ttf);
}
@font-face {
  font-family: poppinsReg;
  src: url(../css/fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppinsBold;
  src: url(../css/fonts/poppins/Poppins-SemiBold.ttf);
}
.adoption p,
.adoption li {
  font-family: poppinsReg;
  font-size: 20px;
}
.adoption li {
  margin-left: 20px;
  margin-bottom: 10px;
}
.adoption h1 {
  font-family: robotoSlab;
  font-size: 50px;
}
.adoption span {
  color: #4db1ea;
}
.adoption p {
  font-family: poppinsReg;
}
.adoption h2 {
  margin-top: 50px;
  font-family: robotoSlab;
  font-size: 35px;
}
.adoption .textSection {
  width: 45%;
}
.adoption .textSection a {
  color: #4db1ea;
}
.adoption img {
  border-radius: 20px;
  margin-top: 20px;
  width: 400px;
}
.adoption .section {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.adoption .soloSection {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-direction: column;
}
.adoption .soloSection .adoptablesButton {
  margin-top: 100px;
  margin-bottom: 75px;
}
.adoption .soloSection .adoptablesButton a {
  text-decoration: none;
}
.adoption .soloSection .adoptablesButton a span {
  background-color: #4db1ea;
  padding: 25px;
  font-size: 25px;
  border-radius: 25px;
  margin-bottom: 75px;
  color: white;
  font-family: robotoSlabNormal;
}

@media (max-width: 1230px) {
  .section {
    flex-direction: column;
  }
  .section .textSection {
    width: 80%;
  }
}
.adoptables {
  width: 70%;
  margin: 0 auto;
}
.adoptables .special {
  color: #0069a5;
}
.adoptables .special p {
  font-size: 250px;
}
.adoptables h1 {
  font-family: robotoSlab;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.adoptables h1 span {
  color: #4db1ea;
}
.adoptables .profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  border: 5px solid #0069a5;
  border-radius: 20px;
  padding: 25px;
}
.adoptables .profile h3 {
  font-family: robotoSlab;
  font-size: 40px;
}
.adoptables .profile img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  object-fit: cover;
}
.adoptables .profile p {
  font-family: poppinsReg;
  font-size: 20px;
}
.adoptables .profile .left {
  font-family: robotoSlabNormal;
}
.adoptables .profile .left span {
  margin-right: 10px;
  color: #0069a5;
}
.adoptables .profile .left .info {
  margin-top: 20px;
  margin-left: 10px;
}
.adoptables .profile .bio {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 200px;
}
.adoptables .profile .bioButton {
  margin-top: 50px;
  margin-bottom: 75px;
  font-family: poppinsReg;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.adoptables .profile .bioButton span {
  background-color: #0069a5;
  padding: 25px;
  border-radius: 30px;
}
.adoptables .profile .bioButton a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.desc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.desc img {
  width: 200px;
  margin-top: -150px;
  margin-left: 25px;
}
.desc .descText {
  font-family: poppinsReg;
  font-size: 20px;
}
.desc .descText .sponsorButton {
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 100px;
  margin-right: 100px;
  width: 400px;
}
.desc .descText .sponsorButton a {
  text-decoration: none;
}
.desc .descText .sponsorButton span {
  background-color: #0069a5;
  padding: 20px;
  border-radius: 25px;
  color: white;
}
.desc .descText .sponsorButton span i {
  margin-right: 10px;
}
.desc img {
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .profile {
    flex-direction: column;
  }
  .profile .left {
    margin-bottom: 25px;
  }
  .desc {
    margin-bottom: 50px;
  }
}
.rabbitBio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  min-height: calc(89% - 60px);
}
.rabbitBio h4 {
  font-family: robotoSlab;
  font-size: 25px;
}
.rabbitBio h3 {
  font-family: robotoSlab;
  font-size: 40px;
  color: #0069a5;
}
.rabbitBio img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  object-fit: cover;
}
.rabbitBio p {
  font-family: poppinsReg;
  font-size: 20px;
}
.rabbitBio .bio {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
}
.rabbitBio .images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.rabbitBio .images img {
  margin: 20px;
}

@media (max-width: 1200px) {
  .rabbitBio {
    flex-direction: column;
  }
  .rabbitBio .bio {
    width: 80%;
  }
  .rabbitBio .images {
    flex-direction: row;
  }
}
.questionnaire {
  width: 80%;
  margin: 0 auto;
}
.questionnaire .note {
  display: flex;
  margin: auto;
}
.questionnaire .note span {
  color: #4db1ea;
  font-family: robotoSlabBold;
  font-size: 25px;
  margin-right: 20px;
  margin-top: -2px;
}
.questionnaire .form {
  margin: 0 auto;
  border: solid 2px #0069a5;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 30px;
}
.questionnaire .form h2 {
  font-size: 40px;
  margin-top: -10px;
}
.questionnaire .form h3 {
  font-family: robotoSlab;
  font-size: 25px;
  margin-top: 25px;
}
.questionnaire .form textarea {
  margin-right: 50px;
  height: 35px;
  font-size: 20px;
  font-family: poppinsReg;
}
.questionnaire .form .multipleInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questionnaire .form .row textarea {
  width: 100%;
}
.questionnaire h1 {
  font-family: robotoSlab;
  font-size: 50px;
  margin-top: 25px;
}
.questionnaire h1 span {
  color: #4db1ea;
}
.questionnaire h2 {
  font-family: robotoSlab;
  font-size: 30px;
  margin-top: 25px;
}
.questionnaire p {
  font-family: poppinsReg;
  font-size: 20px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact .header {
  margin-left: 200px;
  margin-bottom: 50px;
  margin-top: -500px;
  padding: 20px;
}
.contact .header h1 {
  font-family: robotoSlabBold;
  color: #0069a5;
  margin-top: 20px;
  font-size: 40px;
}
.contact .header h3 {
  font-family: poppinsReg;
  font-size: 20px;
}
.contact .header ul {
  margin-left: 20px;
  font-family: poppinsReg;
}
.contact .form {
  border: 2px solid #0069a5;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.contact .form h1 {
  font-family: robotoSlab;
  margin-bottom: 30px;
}
.contact .form p {
  font-family: poppinsReg;
  margin-bottom: 10px;
  font-size: 20px;
}
.contact .form input {
  font-family: poppinsReg;
  margin-bottom: 20px;
  height: 25px;
  padding-left: 5px;
  font-size: 18px;
}
.contact .form select {
  padding-top: -20px;
  min-width: 250px;
  margin-bottom: 20px;
  height: 25px;
  font-size: 18px;
}
.contact .form select option {
  font-size: 18px;
}
.contact .form textarea {
  margin-bottom: 20px;
  width: 100%;
  font-family: poppinsReg;
  font-size: 18px;
  padding-left: 5px;
}
.contact .form .captcha {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.contact .form .row {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.contact .form .button {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: poppinsReg;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact .form .button button {
  padding: 20px;
  background-color: #0069a5;
  border: none;
  width: 200px;
  border-radius: 20px;
}
.contact .form .button button a {
  text-decoration: none;
  color: white;
  font-family: poppinsReg;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .contact {
    flex-direction: column;
  }
  .contact .header {
    display: none;
  }
  .contact .form {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.submit {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 770px;
}
.submit h1 {
  font-family: robotoSlabBold;
  font-size: 30px;
  color: #0069a5;
  font-size: 40px;
}
.submit h2 {
  font-family: poppinsReg;
}
.submit h2 a {
  color: #4db1ea;
}
.submit img {
  width: 300px;
}

.events {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.events h1 {
  color: #0069a5;
  font-family: robotoSlab;
  font-size: 40px;
}
.events a {
  text-decoration: none;
}
.events a span {
  color: #4db1ea;
}
.events a:hover {
  text-decoration: underline;
  color: #4db1ea;
}
.events .calendar {
  margin-bottom: 50px;
}
.events .calendar .month {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.events .calendar .month p {
  color: white;
  font-family: robotoSlabThin;
  font-size: 25px;
  padding-top: 10px;
}
.events .calendar .headers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0069a5;
  border-radius: 25px 25px 0px 0px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  background-color: #0069a5;
  color: white;
}
.events .calendar .headers .header {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}
.events .calendar .headers p {
  font-family: robotoSlabNormal;
}
.events .calendar .week {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.events .calendar .week .day {
  width: 14.5%;
  height: 200px;
  border: 2px solid #0069a5;
}
.events .calendar .week .day h4 {
  font-size: 25px;
  font-family: poppinsReg;
  padding: 5px;
}
.events .calendar .week .day ul {
  margin-left: 25px;
  margin-top: -18px;
}
.events .calendar .week .day ul li {
  font-family: poppinsReg;
  padding-right: 10px;
  font-size: 15px;
}
.events .calendar .week .day ul li p {
  font-size: 15px;
}
.events .calendar .week .empty {
  background-color: #4db1ea;
}
.events .eventList h2 {
  font-family: poppinsReg;
  font-size: 30px;
}
.events .eventList ul {
  margin-left: 25px;
}
.events .eventList ul li {
  font-family: poppinsReg;
  font-size: 20px;
}
.events .eventList .eventDay {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .events {
    width: 95%;
  }
  .events .week {
    min-width: 335px;
  }
  .events .day {
    height: 400px;
  }
  .events .day li {
    font-size: 12px;
    margin-top: -15px;
  }
  .events .day p {
    font-size: 10px;
  }
}
@media (min-width: 1000px) {
  .eventList {
    display: none;
  }
}
@media (max-width: 1000px) {
  .calendar {
    display: none;
  }
  .eventList {
    display: block;
  }
}
.eventPage {
  width: 80%;
  margin: 0 auto;
  height: 738px;
}
.eventPage .content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.eventPage .content .text {
  padding: 25px;
}
.eventPage .content .text h1 {
  font-family: robotoSlab;
}
.eventPage .content .text p {
  font-size: 20px;
  font-family: poppinsReg;
}
.eventPage .content .text p a {
  color: #4db1ea;
  text-decoration: none;
}
.eventPage .content .text p a:hover {
  text-decoration: underline;
}
.eventPage .content img {
  max-width: 500px;
  border: 2px solid #0069a5;
}

@media (max-width: 1200px) {
  .eventPage {
    height: 800px;
  }
  .eventPage .content {
    flex-direction: column;
  }
  .eventPage .content img {
    max-width: 250px;
  }
}
.wrapper {
  height: 768px;
}
.wrapper .logIn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 30px;
}
.wrapper .logIn .form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #4db1ea;
  padding: 20px;
  border-radius: 25px;
  width: 300px;
}
.wrapper .logIn .form input {
  margin-top: 20px;
  font-family: poppinsReg;
  width: 200px;
  padding: 5px;
  border-radius: 20px;
}
.wrapper .logIn h1 {
  font-family: robotoSlab;
}
.wrapper .logIn p {
  font-family: poppinsReg;
  size: 20px;
}
.wrapper .button {
  margin-top: 50px;
  font-family: poppinsReg;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper .button button {
  padding: 10px;
  background-color: #0069a5;
  border: none;
  width: 200px;
  border-radius: 20px;
}
.wrapper .button button a {
  text-decoration: none;
  color: white;
  font-family: poppinsReg;
  font-size: 20px;
}

.loggedIn {
  width: 80%;
  margin: 0 auto;
  height: 758px;
}
.loggedIn h1 {
  color: #0069a5;
  font-family: robotoSlab;
  margin-top: 40px;
}
.loggedIn p {
  font-family: poppinsReg;
  font-size: 20px;
}
.loggedIn p span {
  font-family: robotoSlabBold;
  color: darkred;
}
.loggedIn .crab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.loggedIn img {
  width: 500px;
}

.membership .section {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.membership .text {
  padding: 20px;
}
.membership .text p {
  font-family: poppinsReg;
  font-size: 18px;
}
.membership .text ul {
  padding-left: 25px;
}
.membership .text ul li {
  font-family: poppinsReg;
  font-size: 16px;
}
.membership .image img {
  width: 300px;
}
.membership .form {
  width: 80%;
  margin: 0 auto;
  border: solid 2px #0069a5;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 30px;
}
.membership .form h2 {
  font-size: 40px;
  margin-top: -10px;
}
.membership .form h3 {
  font-family: robotoSlab;
  font-size: 25px;
}
.membership .form input {
  margin-right: 50px;
  font-size: 20px;
  font-family: poppinsReg;
}
.membership .form select {
  font-size: 20px;
  font-family: poppinsReg;
  padding: 5px;
}
.membership .form .multipleInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -15px;
}
.membership .form .multipleInput h4 {
  font-family: robotoSlab;
  font-size: 30px;
  color: #0069a5;
  margin-left: 20px;
}
.membership .form .multipleInput .input {
  padding: 5px;
  margin: 10px;
  width: 45%;
}
.membership .form .multipleInput .input select {
  width: 100%;
}
.membership .form .row {
  margin-bottom: 10px;
}
.membership .form .row input {
  width: 98%;
  padding: 5px;
}
.membership h1 {
  font-family: robotoSlab;
  font-size: 50px;
  margin-top: 25px;
}
.membership h1 span {
  color: #4db1ea;
}
.membership h2 {
  font-family: robotoSlab;
  font-size: 30px;
  margin-top: 25px;
}
.membership p {
  font-family: poppinsReg;
  font-size: 20px;
}
.membership .price {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.membership .price span {
  color: #0069a5;
}
.membership .captcha {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
.membership .purchaseButton {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.membership .purchaseButton a {
  text-decoration: none;
}
.membership .purchaseButton span {
  background-color: #0069a5;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  color: white;
  width: 400px;
  font-family: poppinsReg;
}
.membership .disclaimer {
  padding: 20px;
  margin-top: 50px;
}
.membership .disclaimer span {
  color: #0069a5;
  font-family: robotoSlab;
}

@media (max-width: 1250px) {
  .section {
    flex-direction: column;
  }
}
.volunteer {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
.volunteer p {
  font-family: poppinsReg;
}
.volunteer h2 {
  font-family: robotoSlabThin;
}
.volunteer span {
  color: #0069a5;
}
.volunteer .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.volunteer .content .img img {
  width: 400px;
  padding-left: 20px;
}
.volunteer .volProfile {
  margin-bottom: 25px;
  padding-right: 20px;
}
.volunteer .callout {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.volunteer .contactButton {
  margin-top: 30px;
  margin-bottom: 50px;
}
.volunteer .contactButton a {
  text-decoration: none;
  background-color: #0069a5;
  padding: 20px;
  border-radius: 25px;
}
.volunteer .contactButton a span {
  color: white;
  font-family: poppinsReg;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}
.infoPage {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 750px;
}
.infoPage p {
  font-family: poppinsReg;
}
.infoPage a {
  color: #4db1ea;
  text-decoration: none;
  font-family: poppinsReg;
}
.infoPage h3 {
  font-family: robotoSlab;
  font-size: 20px;
}
.infoPage a:hover {
  text-decoration: underline;
}
.infoPage h2 {
  color: #0069a5;
  text-decoration: none;
  font-family: poppinsReg;
}
.infoPage .resource {
  margin-bottom: 20px;
}
.infoPage .resource p {
  margin-top: -15px;
}
.infoPage .resource h2 a {
  color: #4db1ea;
  text-decoration: none;
  font-family: poppinsReg;
}
.infoPage .resource h2 a:hover {
  text-decoration: underline;
}

.shelterList {
  margin-top: 30px;
  margin-bottom: 20px;
}

.vetList .vet {
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

h1 {
  font-family: robotoSlab;
  color: #0069a5;
}

nav {
  background-color: #4db1ea;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppinsReg;
}
nav .homeButton {
  width: 50px;
  height: 20px;
}
nav .homeButton img {
  max-width: 100px;
  max-height: 60px;
  margin-top: -20px;
  margin-left: 10px;
}
nav .links {
  margin-right: 20px;
}
nav .links .parent {
  display: block;
  position: relative;
  float: left;
  line-height: 50px;
  background-color: #4db1ea;
  margin-right: 10px;
}
nav .links .parent a {
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
}
nav .links .parent:hover > ul {
  display: block;
  position: absolute;
}
nav .links .child {
  display: none;
}
nav .links .child li {
  background-color: #4db1ea;
  line-height: 40px;
  color: white;
  width: 220px;
}
nav .links .child li a {
  color: white;
  align-items: center;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
nav .links ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 8.65em;
}
nav .links ul ul ul {
  left: 100%;
  top: 0;
  margin-left: 1px;
}
nav .links li:hover {
  background-color: #0069a5;
}
nav .links .parent li:hover {
  background-color: #0069a5;
}
nav .links .expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

.footer {
  height: 75px;
  background-color: #4db1ea;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
}
.footer .title {
  font-size: 23px;
  margin-top: 10px;
  color: white;
  font-family: robotoSlab;
  margin-left: 20px;
  line-height: 100%;
}
.footer .copyright {
  font-family: robotoSlabNormal;
  margin-top: 50px;
  color: white;
  font-size: calc(5px + 1vw);
  line-height: 0;
}
.footer .socialLinks a {
  margin: 10px;
  color: white;
}
.footer .socialLinks a i {
  font-size: calc(30px + 1vw);
}

@media (max-width: 1000px) {
  nav .parent {
    font-size: 12px;
  }
  nav .parent .child li {
    width: 180px;
  }
  footer {
    font-size: smaller;
  }
  footer h4 {
    font-size: 20px;
  }
  footer .socialLinks {
    width: 200px;
    margin-left: 10px;
  }
  footer .socialLinks a i {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
