.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../css/rabbitAssets/outsideImages/possibleHeader.jpg);
  height: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-size: cover;
  background-position: top;
}
.hero .heroText {
  padding: 20px;
  padding-top: 30px;
  padding-left: 25px;
  color: white;
}
.hero .heroText h1 {
  font-size: 80px;
  font-family: robotoSlab;
  width: 800px;
}
.hero .heroText h3 {
  font-size: 30px;
  max-width: 800px;
  font-family: robotoSlabLight;
  margin-top: 100px;
}
.hero .heroText span {
  color: #4db1ea;
}

.slideShow {
  height: 400px;
  max-width: 75%;
  margin: auto;
  background-color: red;
  margin-bottom: 40px;
}
.slideShow img {
  width: 500px;
  height: 500px;
}

.threeBoxes {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}
.threeBoxes .box {
  height: 450px;
  width: calc(300px + 1vw);
  min-width: 300px;
  border: black 2px solid;
  border-radius: 10px;
}
.threeBoxes .box h3 {
  font-size: 45px;
  margin-top: 20px;
  color: black;
  font-family: robotoSlabNormal;
}
.threeBoxes .box .event {
  font-size: 20px;
  display: flex;
  text-align: center;
}
.threeBoxes .box .event a {
  color: #4db1ea;
}
.threeBoxes .box .event p {
  padding: 10px;
}
.threeBoxes .box .event span {
  text-decoration: underline;
  margin-top: 15px;
}
.threeBoxes .box .eventsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.threeBoxes .box .eventsBox .eventsButton {
  margin-top: 20px;
}
.threeBoxes .box .eventsBox .eventsButton a {
  text-decoration: none;
  font-size: 25px;
  font-family: poppinsReg;
}
.threeBoxes .box .eventsBox .eventsButton a span {
  background-color: #0069a5;
  margin-top: 20px;
  border-radius: 50px;
  padding: 12px;
  color: white;
}
.threeBoxes .box .socialsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 400px;
}
.threeBoxes .box .socialsBox .socialButtons {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.threeBoxes .box .socialsBox .socialButtons .socialButton {
  background-color: #0069a5;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px;
}
.threeBoxes .box .socialsBox .socialButtons .socialButton span {
  font-size: 30px;
  padding: 10px;
  color: white;
}
.threeBoxes .box .socialsBox .socialButtons .socialButton a {
  text-decoration: none;
}
.threeBoxes .box .quickLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.threeBoxes .box .quickLinks .link {
  font-size: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}
.threeBoxes .box .quickLinks .link a {
  color: #4db1ea;
}
.threeBoxes .box .quickLinks .link p {
  padding: 10px;
}
.threeBoxes .box .quickLinks .link span {
  text-decoration: underline;
  margin-top: 15px;
}

.ourMission {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
.ourMission .missionStatement {
  width: 50%;
}
.ourMission .missionStatement h2 {
  font-family: robotoSlab;
  font-size: 30px;
}
.ourMission .missionStatement p {
  margin-bottom: 20px;
  font-family: poppinsReg;
  font-family: 20px;
}
.ourMission .missionStatement li {
  margin-bottom: 20px;
  font-family: poppinsReg;
  margin-left: 20px;
}
.ourMission .logo {
  background-image: url(../css/rabbitAssets/icons/newLogo.png);
  height: 500px;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}

@media (max-width: 1200px) {
  .threeBoxes {
    flex-direction: column;
  }
  .threeBoxes .box {
    margin-bottom: 25px;
    width: 400px;
  }
  .ourMission .logo {
    width: 300px;
  }
}
@font-face {
  font-family: robotoSlab;
  src: url(../css/fonts/robotoSlab/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: robotoSlabLight;
  src: url(../css/fonts/robotoSlab/RobotoSlab-ExtraLight.ttf);
}
@font-face {
  font-family: robotoSlabThin;
  src: url(../css/fonts/robotoSlab/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: robotoSlabNormal;
  src: url(../css/fonts/robotoSlab/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: robotoSlabBold;
  src: url(../css/fonts/robotoSlab/RobotoSlab-ExtraBold.ttf);
}
@font-face {
  font-family: poppinsReg;
  src: url(../css/fonts/poppins/Poppins-Regular.ttf);
}
.adoption p,
.adoption li {
  font-family: poppinsReg;
  font-size: 20px;
}
.adoption li {
  margin-left: 20px;
  margin-bottom: 10px;
}
.adoption h1 {
  font-family: robotoSlab;
  font-size: 50px;
}
.adoption span {
  color: #4db1ea;
}
.adoption p {
  font-family: poppinsReg;
}
.adoption h2 {
  margin-top: 50px;
  font-family: robotoSlab;
  font-size: 35px;
}
.adoption .textSection {
  width: 45%;
}
.adoption .textSection a {
  color: #4db1ea;
}
.adoption img {
  border-radius: 20px;
  margin-top: 20px;
  width: 400px;
}
.adoption .section {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.adoption .soloSection {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-direction: column;
}
.adoption .soloSection .adoptablesButton {
  margin-top: 100px;
  margin-bottom: 75px;
}
.adoption .soloSection .adoptablesButton a {
  text-decoration: none;
}
.adoption .soloSection .adoptablesButton a span {
  background-color: #4db1ea;
  padding: 25px;
  font-size: 25px;
  border-radius: 25px;
  margin-bottom: 75px;
  color: white;
  font-family: robotoSlabNormal;
}

@media (max-width: 1230px) {
  .section {
    flex-direction: column;
  }
  .section .textSection {
    width: 80%;
  }
}
.adoptables {
  width: 70%;
  margin: 0 auto;
}
.adoptables h1 {
  font-family: robotoSlab;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.adoptables h1 span {
  color: #4db1ea;
}
.adoptables .profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.adoptables .profile h3 {
  font-family: robotoSlab;
  font-size: 40px;
}
.adoptables .profile img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}
.adoptables .profile p {
  font-family: poppinsReg;
  font-size: 20px;
}
.adoptables .profile .left {
  font-family: robotoSlabNormal;
}
.adoptables .profile .left span {
  margin-right: 10px;
  color: #0069a5;
}
.adoptables .profile .bio {
  width: 60%;
  margin: 0 auto;
}
.adoptables .profile .bioButton {
  margin-top: 50px;
  margin-bottom: 75px;
  font-family: poppinsReg;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.adoptables .profile .bioButton span {
  background-color: #0069a5;
  padding: 25px;
  border-radius: 30px;
}
.adoptables .profile .bioButton a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.desc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.desc .descText {
  font-family: poppinsReg;
  font-size: 20px;
}
.desc .descText .sponsorButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 75px;
  margin-bottom: 100px;
}
.desc .descText .sponsorButton a {
  text-decoration: none;
}
.desc .descText .sponsorButton span {
  background-color: #0069a5;
  padding: 20px;
  border-radius: 25px;
  color: white;
}
.desc .descText .sponsorButton span i {
  margin-right: 10px;
}
.desc img {
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .profile {
    flex-direction: column;
  }
  .profile .left {
    margin-bottom: 25px;
  }
}
.questionnaire {
  width: 80%;
  margin: 0 auto;
}
.questionnaire .note {
  display: flex;
  margin: auto;
}
.questionnaire .note span {
  color: #4db1ea;
  font-family: robotoSlabBold;
  font-size: 25px;
  margin-right: 20px;
  margin-top: -2px;
}
.questionnaire .form {
  margin: 0 auto;
  border: solid 2px #0069a5;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 30px;
}
.questionnaire .form h2 {
  font-size: 40px;
  margin-top: -10px;
}
.questionnaire .form h3 {
  font-family: robotoSlab;
  font-size: 25px;
  margin-top: 25px;
}
.questionnaire .form textarea {
  margin-right: 50px;
  height: 35px;
  font-size: 20px;
  font-family: poppinsReg;
}
.questionnaire .form .multipleInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questionnaire .form .row textarea {
  width: 100%;
}
.questionnaire h1 {
  font-family: robotoSlab;
  font-size: 50px;
  margin-top: 25px;
}
.questionnaire h1 span {
  color: #4db1ea;
}
.questionnaire h2 {
  font-family: robotoSlab;
  font-size: 30px;
  margin-top: 25px;
}
.questionnaire p {
  font-family: poppinsReg;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  background-color: #4db1ea;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppinsReg;
}
nav .homeButton {
  width: 80px;
  height: 20px;
}
nav .homeButton img {
  max-width: 100px;
  max-height: 60px;
  margin-top: -20px;
  margin-left: 10px;
}
nav .links {
  margin-right: 20px;
}
nav .links .parent {
  display: block;
  position: relative;
  float: left;
  line-height: 50px;
  background-color: #4db1ea;
  margin-right: 10px;
}
nav .links .parent a {
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
}
nav .links .parent:hover > ul {
  display: block;
  position: absolute;
}
nav .links .child {
  display: none;
}
nav .links .child li {
  background-color: #4db1ea;
  line-height: 40px;
  color: white;
  width: 220px;
}
nav .links .child li a {
  color: white;
  align-items: center;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
nav .links ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 8.65em;
}
nav .links ul ul ul {
  left: 100%;
  top: 0;
  margin-left: 1px;
}
nav .links li:hover {
  background-color: #0069a5;
}
nav .links .parent li:hover {
  background-color: #0069a5;
}
nav .links .expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

.footer {
  height: 75px;
  background-color: #4db1ea;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
}
.footer .title {
  font-size: 23px;
  margin-top: 10px;
  color: white;
  font-family: robotoSlab;
  margin-left: 20px;
  line-height: 100%;
}
.footer .copyright {
  font-family: robotoSlabNormal;
  margin-top: 50px;
  color: white;
  font-size: calc(5px + 1vw);
  line-height: 0;
}
.footer .socialLinks a {
  margin: 10px;
  color: white;
}
.footer .socialLinks a i {
  font-size: calc(30px + 1vw);
}

@media (max-width: 1000px) {
  nav .parent {
    font-size: 12px;
  }
  nav .parent .child li {
    width: 180px;
  }
  footer {
    font-size: smaller;
  }
  footer h4 {
    font-size: 20px;
  }
  footer .socialLinks {
    width: 200px;
    margin-left: 10px;
  }
  footer .socialLinks a i {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
