//Adoption Homepage Styling//
.adoption {
  p,
  li {
    font-family: poppinsReg;
    font-size: 20px;
  }

  li {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  h1 {
    font-family: robotoSlab;
    font-size: 50px;
  }
  span {
    color: $siteBlue;
  }
  p {
    font-family: poppinsReg;
  }

  h2 {
    margin-top: 50px;
    font-family: robotoSlab;
    font-size: 35px;
  }

  .textSection {
    width: 45%;
    a {
      color: $siteBlue;
    }
  }
  img {
    border-radius: 20px;
    margin-top: 20px;
    width: 400px;
  }

  .section {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .soloSection {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-direction: column;

    .adoptablesButton {
      margin-top: 100px;
      margin-bottom: 75px;
      a {
        text-decoration: none;
        span {
          background-color: $siteBlue;
          padding: 25px;
          font-size: 25px;
          border-radius: 25px;
          margin-bottom: 75px;
          color: white;
          font-family: robotoSlabNormal;
        }
      }
    }
  }
}
//Adoption Media Queries//
@media (max-width: 1230px) {
  .section {
    flex-direction: column;
    .textSection {
      width: 80%;
    }
  }
}

//Adoptables Styling//
.adoptables {
  width: 70%;
  margin: 0 auto;

  .special{
    color: $siteDarkBlue;
    p{
      font-size: 250px;
    }
  }

  h1 {
    font-family: robotoSlab;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    span {
      color: $siteBlue;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    // max-height: 700px;
    border: 5px solid $siteDarkBlue;
    border-radius: 20px;
    padding: 25px;

    h3 {
      font-family: robotoSlab;
      font-size: 40px;
    }
    img {
      width: 250px;
      height: 250px;
      border-radius: 25px;
      object-fit: cover;

      // border-radius: 50%;
    }
    p {
      font-family: poppinsReg;
      font-size: 20px;
    }

    .left {
      font-family: robotoSlabNormal;
      
      span {
        margin-right: 10px;
        color: $siteDarkBlue;
      }
      .info {
        margin-top: 20px;
        margin-left: 10px;
      }
    }
    .bio {
      width: 70%;
      margin: 0 auto;
      margin-top: 20px;
      min-height: 200px;
    }
    .bioButton {
      margin-top: 50px;
      margin-bottom: 75px;
      font-family: poppinsReg;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      span {
        background-color: $siteDarkBlue;
        padding: 25px;
        border-radius: 30px;
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 25px;
      }
    }
  }
}
//Sanctuary Styling//
.desc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img{
    width: 200px;
    margin-top: -150px;
    margin-left: 25px;
  }

  .descText {
    font-family: poppinsReg;
    font-size: 20px;
    
    .sponsorButton {
      margin: 0 auto;
      margin-top: 75px;
      margin-bottom: 100px;
      margin-right: 100px;
      width: 400px;
      // margin:;
      a {
        text-decoration: none;
      }
      span {
        background-color: $siteDarkBlue;
        padding: 20px;
        border-radius: 25px;
        color: white;
        i {
          margin-right: 10px;
        }
      }
    }
  }
  img {
    border-radius: 50%;
  }
}

//Adoptables + Sancuary MQ//
@media (max-width: 1200px) {
  .profile {
    flex-direction: column;
    .left {
      margin-bottom: 25px;
    }
  }
  .desc{
    margin-bottom: 50px;
  }
}

//Rabbit Bio Page Styling//
.rabbitBio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  min-height: calc(89% - 60px);

  h4 {
    font-family: robotoSlab;
    font-size: 25px;
  }

  h3 {
    font-family: robotoSlab;
    font-size: 40px;
    color: $siteDarkBlue;
  }
  img {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    object-fit: cover;
  }
  p {
    font-family: poppinsReg;
    font-size: 20px;
  }
  .bio {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
  }
  .images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    img {
      margin: 20px;
    }
  }
}

//Rabbit Bio MQ//
@media (max-width: 1200px) {

  .rabbitBio {
    flex-direction: column;
    .bio {
      width: 80%;
    }
    .images {
      flex-direction: row;
    }
  }
}

//Questionnaire Styling//
.questionnaire {
  width: 80%;
  margin: 0 auto;
  .note {
    display: flex;
    margin: auto;
    span {
      color: $siteBlue;
      font-family: robotoSlabBold;
      font-size: 25px;
      margin-right: 20px;
      margin-top: -2px;
    }
  }
  .form {
    // width: 50%;
    margin: 0 auto;
    border: solid 2px $siteDarkBlue;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 30px;
    h2 {
      font-size: 40px;
      margin-top: -10px;
    }
    h3 {
      font-family: robotoSlab;
      font-size: 25px;
      margin-top: 25px;
    }
    textarea {
      margin-right: 50px;
      height: 35px;
      font-size: 20px;
      font-family: poppinsReg;
    }
    .multipleInput {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .row {
      textarea {
        width: 100%;
      }
    }
  }

  h1 {
    font-family: robotoSlab;
    font-size: 50px;
    margin-top: 25px;
    span {
      color: $siteBlue;
    }
  }
  h2 {
    font-family: robotoSlab;
    font-size: 30px;
    margin-top: 25px;
  }
  p {
    font-family: poppinsReg;
    font-size: 20px;
  }
}
