.events {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  h1 {
    color: $siteDarkBlue;
    font-family: robotoSlab;
    font-size: 40px;
  }
  a {
    text-decoration: none;
    span {
      color: $siteBlue;
    }
  }
  a:hover {
    text-decoration: underline;
    color: $siteBlue;
  }
  .calendar {
    margin-bottom: 50px;
    .month {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
     
      p {
        color: white;
        font-family: robotoSlabThin;
        font-size: 25px;
        padding-top: 10px;
      }
    }
    .headers {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: $siteDarkBlue;
      border-radius: 25px 25px 0px 0px;
      padding-top: 10px;
      .header {
        width: 200px;
        display: flex;
        justify-content: space-evenly;
      }
      display: flex;
      align-items: center;

      background-color: $siteDarkBlue;
      color: white;
      

      p {
        font-family: robotoSlabNormal;
        // border: 2px solid white;
      }
    }
    .week {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
      
      .day {
        width: 14.5%;
       height: 200px;
        
        border: 2px solid $siteDarkBlue;
        h4 {
          font-size: 25px;
          font-family: poppinsReg;
          padding: 5px;
        }
        ul {
          margin-left: 25px;
          margin-top: -18px;
          li {
            font-family: poppinsReg;
            padding-right: 10px;
            font-size: 15px;
            p{
              font-size: 15px;
            }
            
          }
        }
      }
      .empty {
        background-color: $siteBlue;
      }
    }
  }
  .eventList{
    h2{
      font-family: poppinsReg;
      font-size: 30px;
    }
    ul{
      margin-left: 25px;
      li{
        font-family: poppinsReg;
        font-size: 20px;
      }
    }
    .eventDay{
      margin-bottom: 50px;
    }
  }
}

//Events MQ//
@media (max-width: 1200px) {
  .events {
    width: 95%;
    .week{
      min-width: 335px;
    }
    .day {
      height: 400px;
      li {
        font-size: 12px;
        margin-top: -15px;
      }
      p{
        font-size: 10px;
        
      }
    }
  }
}
@media (min-width: 1000px) {
  .eventList{
    display: none;
  }
}
@media (max-width: 1000px) {
  .calendar{
    display: none;
  }
  .eventList{
    display: block;
  }

}

//Event Page Styling//
.eventPage {
  width: 80%;
  margin: 0 auto;

  min-height: 87vh ;
  .return {
    width: 90%;
    margin: 0 auto;
    margin-left: -40px;
    // padding-top: 50px;
    i {
      color: $siteDarkBlue;
      font-size: 50px;
    }
  }
  .content {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .text {
      padding: 25px;
      h1 {
        font-family: robotoSlab;
      }
      p {
        font-size: 20px;
        font-family: poppinsReg;
        a {
          color: $siteBlue;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    img {
      max-width: 500px;
      border: 2px solid $siteDarkBlue;
    }
  }
}

@media (max-width: 1200px) {
  .eventPage {
    height: 800px;
    .content {
      flex-direction: column;
      // margin-bottom: 50px;
      // height: 1200px;
      // background-color: green;
      // margin-bottom: 100px;
      .img{
        // margin-bottom: 20px;
      }
      img {
        max-width: 250px;
        // margin-bottom: 250px;

      }
    }
  }
}
