@font-face {
    font-family: robotoSlab;
    src: url(../css/fonts/robotoSlab/RobotoSlab-Bold.ttf);
}
@font-face {
    font-family: robotoSlabLight;
    src: url(../css/fonts/robotoSlab/RobotoSlab-ExtraLight.ttf);
}

@font-face {
    font-family: robotoSlabThin;
    src: url(../css/fonts/robotoSlab/RobotoSlab-Light.ttf);
}
@font-face {
    font-family: robotoSlabNormal;
    src: url(../css/fonts/robotoSlab/RobotoSlab-Regular.ttf);
}


@font-face {
    font-family: poppinsReg;
    src: url(../css/fonts/poppins/Poppins-Regular.ttf);
}