//Variables//
$siteBlue: #4db1ea;
$siteDarkBlue: #0069a5;

.homeWrapper {
  // background-color: #0069a5;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../css/rabbitAssets/outsideImages/possibleHeader.jpg); // width: 100%;
  height: 600px;
  // width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  background-size: cover;
  background-position: top;
  .heroText {
    padding: 20px;
    padding-top: 30px;
    padding-left: 25px;
    color: white;
    h1 {
      font-size: 80px;
      font-family: robotoSlab;
      width: 800px;
      color: white;
    }
    h3 {
      font-size: 30px;
      max-width: 800px;
      font-family: robotoSlabLight;
      margin-top: 100px;
    }
    span {
      color: $siteBlue;
    }
  }
}

.rotd {
  background-color: white;
  min-width: 700px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $siteDarkBlue;
  // background-color: $siteBlue;
  margin-bottom: 50px;

  border-radius: 25px;
  .text {
    // width: 45%;
    padding: 20px;
    background-color: white;
    margin-left: 20px;
    border-radius: 25px;
    h3 {
      margin-bottom: 30px;
      // color: white;
    }
  }
  .rabbitPic {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
    img {
      width: 250px;
      border-radius: 25px;
    }
  }
  h3 {
    font-family: robotoSlab;
    font-size: 40px;
  }
  p {
    font-family: poppinsReg;
    font-size: 20px;
    // margin-top: -130px;
    // margin-left: -80px;
  }
  a {
    text-decoration: none;
    span {
      color: white;
      color: $siteBlue;
    }
  }
  a:hover {
    text-decoration: underline;
    color: $siteBlue;
    // color: white;
  }
}
.threeBoxes {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;

  .box {
    height: 450px;
    width: calc(300px + 1vw);
    min-width: 300px;
    // background-color: lightgray;
    border: $siteDarkBlue 3px solid;
    border-radius: 10px;
    h3 {
      font-size: 45px;
      margin-top: 20px;
      color: black;
      font-family: robotoSlabNormal;
    }
    .event {
      font-size: 20px;
      display: flex;
      text-align: center;
      a {
        color: $siteBlue;
      }
      p {
        padding: 10px;
      }
      span {
        text-decoration: underline;
        margin-top: 15px;
      }
    }

    .eventsBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      .event {
        p {
          a {
          }
        }
      }

      .eventsButton {
        margin-top: 20px;
        a {
          text-decoration: none;
          font-size: 25px;
          font-family: poppinsReg;
          span {
            background-color: #0069a5;
            margin-top: 20px;
            border-radius: 50px;
            padding: 12px;
            color: white;
          }
        }
      }
    }

    .socialsBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      max-height: 400px;

      .socialButtons {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        .socialButton {
          background-color: #0069a5;
          margin-top: 20px;
          border-radius: 50px;
          padding: 10px;

          span {
            font-size: 30px;
            padding: 10px;
            color: white;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }

    .quickLinks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      .link {
        font-size: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: 10px;
        a {
          color: $siteBlue;
        }
      }
    }
  }
}

.ourMission {
  background-color: white;
  margin-bottom: 40px;
  display: flex;
  // align-items: center;
  justify-content: space-evenly;
  .missionStatement {
    width: 50%;
    h2 {
      font-family: robotoSlab;
      font-size: 30px;
    }
    p {
      margin-bottom: 20px;
      font-family: poppinsReg;
      font-family: 20px;
    }
    li {
      margin-bottom: 20px;
      font-family: poppinsReg;
      margin-left: 20px;
    }
  }
  .logo {
    margin-bottom: 300px;

    img {
      width: 400px;
      margin-top: -50px;
      // margin-bottom: 250px;
    }
    // background-image: url(css/rabbitAssets/icons/evLogoDesign.png);
    height: 200px;
    width: 400px;
    // background-size: contain;
    // background-repeat: no-repeat;
    padding: 20px;
    margin-top: 50px;
  }
}

//Media Queries//

@media (max-width: 1200px) {
  .threeBoxes {
    flex-direction: column;
    .box {
      margin-bottom: 25px;
      width: 400px;
    }
  }
  .rotd {
    width: 80%;
  }
  .ourMission {
    flex-direction: column;
    width: 90%;
    margin: auto;
    .missionStatement {
      width: 100%;
    }
    .logo {
      margin: 0 auto;
      margin-bottom: 300px;
      margin-top: 50px;
    }
  }
}
