.infoPage {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 768px;
  p {
    font-family: poppinsReg;
  }
  a {
    color: $siteBlue;
    text-decoration: none;
    font-family: poppinsReg;
  }
  h3 {
    font-family: robotoSlab;
    font-size: 20px;
    // color: $siteDarkBlue;
  }
  a:hover {
    text-decoration: underline;
  }
  h2 {
    color: $siteDarkBlue;
    text-decoration: none;
    font-family: poppinsReg;
  }
  .resource {
    margin-bottom: 20px;
    p {
      margin-top: -15px;
    }
    h2 {
      a {
        color: $siteBlue;
        text-decoration: none;
        font-family: poppinsReg;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.shelterList {
  margin-top: 30px;
  margin-bottom: 20px;
}
.vetList{
  margin-top: 20px;
    .vet{
        margin-bottom: 40px;
        
    }
}

.faq{
  h1{
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .jumpTo{
    li{
      font-family: poppinsReg;
      margin-left: 25px;
      color: white;
      margin-top: 10px;
      a{
        text-decoration: none;
        color: $siteBlue;
        font-size: 18px;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
  width: 80%;
  margin: 0 auto;
  p{
    font-family: poppinsReg;
    margin-bottom: 10px;
  }
  h2{
    color: $siteDarkBlue;
    font-family: robotoSlab;
  }
  h3{
    font-family: poppinsReg;
    // color: $siteBlue;
    margin-top: 10px;
  }
  .section{
    margin-bottom: 25px;
    margin-top: 25px;
    ul{
      margin-left: 25px;
      font-family: poppinsReg;
      margin-bottom: 10px;
      li{
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
