//Stylesheet imports//
@import "home.scss";
@import "fonts.scss";
@import "adoption.scss";
@import "contact.scss";
@import "events.scss";
@import "login.scss";
@import "membership.scss";
@import "volunteer.scss";
@import "resources.scss";




//Variables//
$siteBlue: #4db1ea;
$siteDarkBlue: #0069a5;

// Constant Elements SCSS//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
h1{
  font-family: robotoSlab;
  color: $siteDarkBlue;
}

//Nav Styling//
nav {
  background-color: $siteBlue;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: poppinsReg;
  .homeButton {
    width: 50px;
    height: 20px;
    img {
      max-width: 100px;
      max-height: 60px;
      margin-top: -20px;
      margin-left: 10px;
    }
  }

  .links {
    margin-right: 20px;
    .parent {
      display: block;
      position: relative;
      float: left;
      line-height: 50px;
      background-color: $siteBlue;
      margin-right: 10px;
      // border-right: #CCC 1px solid;
      // width:9%;
    }

    .parent a {
      margin: 10px;
      color: #ffffff;
      text-decoration: none;
    }

    .parent:hover > ul {
      display: block;
      position: absolute;
    }

    .child {
      
      display: none;
    }

    .child li {
      background-color: $siteBlue;
      line-height: 40px;
      color: white;
      width: 220px;
    }

    .child li a {
      color: white;
      // width: 200px;
      align-items: center;
      display: block;
      margin-top: 0;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0px;
      min-width: 8.65em;
    }

    ul ul ul {
      left: 100%;
      top: 0;
      margin-left: 1px;
    }

    li:hover {
      background-color: $siteDarkBlue;
    }

    .parent li:hover {
      background-color: $siteDarkBlue;
    }

    .expand {
      font-size: 12px;
      float: right;
      margin-right: 5px;
    }
  }
}


//Footer Styling
.footer {
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
  }
  height: 75px;
  background-color: $siteBlue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .title {
    font-size: 23px;
    // width: 200px;
    margin-top: 10px;
    color: white;
    font-family: robotoSlab;
    margin-left: 20px;
    line-height: 100%;
  }
  .copyright {
    font-family: robotoSlabNormal;
    margin-top: 50px;
    color: white;
    font-size: calc(5px + 1vw);
    line-height: 0;
  }

  .socialLinks {
    a {
      margin: 10px;
      color: white;
      i {
        font-size: calc(30px + 1vw);
      }
    }
  }
}

//Media Queries//
@media (max-width: 1000px) {
  nav {
    .parent {
      font-size: 12px;

      .child li {
        width: 180px;
      }
    }
  }

  footer {
    font-size: smaller;
    h4{
      font-size: 20px;
    }
    .socialLinks {
      width: 200px;
      margin-left: 10px;
      a {
        i {
          font-size: 20px;
        }
      }
    }
  }
}
